@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,200&display=swap');
@import 'navbar.css';

root {}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* Nav */
nav {
    border-radius: 3px;
}

.title {
    font-size: 1.8em;
    padding: 0em;
}

.don-btn {
    background-color: red;
    padding: 5px;
    color: white;
    border-radius: 5px;
}

.don-btn:hover {
    color: white;

}

.nav-hide {
    display: none !important;
}

nav a {
    padding: .2em;
    border-radius: 5px;
}

/* Hero Section */
.hero {
    background: url('./img/flag.jpg') no-repeat center center fixed;
    background-size: cover;
}

.layer {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 0 0 5px 5px;
    padding: 2em;
}

.left {
    height: 60%;
    font-size: smaller !important;
}

.head-title {
    font-size: 1.3em;
}

.right {
    height: 60%;
    text-align: center;
    align-items: center;
    font-size: smaller !important;
}

.social {
    display: flex;
    justify-content: flex-end;
    padding-top: .5em;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 5px 5px 0 0;
}

.social i {
    color: #4182C5;
    padding: 0 1em 0 0;
    font-size: 1.8rem;
}

.social i:hover {
    color: #78B4E3;
}

/* Countdown Clock */
#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv>div {
    padding: 10px;
    border-radius: 3px;
    background: #78B4E3;
    display: inline-block;
}

#clockdiv div>span {
    padding: 15px;
    border-radius: 3px;
    background: #4182C5;
    display: inline-block;
}

smalltext {
    padding-top: 5px;
    font-size: 16px;
}


/* Points Section */
video {
    width: 100%;
    border-radius: 5px;
}

.icons {
    align-items: center;
}

.blue {
    color: #4182C5;
}

/* About */

.about-section {
    background-color: rgb(185, 222, 250);
    padding: 1em;
    border-radius: 5px;
}

.about-img img {
    width: 30%;
    padding:1em;
}

.navbar-lite {
    transition: all 1s ease-in-out;
    background: white;
}

.envelope {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.insert-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.insert-photo img {
    width: 400px;
}

.char-underline {
    border-bottom: 3px solid lightcoral;
}

.endorse-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    background-color: #78B4E3;
    border-radius: 5px;
}

/* act blue section */
.act-layer {
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: rgb(185, 222, 250);
    border-radius: 5px;
}

.actBlue {
    width: 100%;
}

.actBlue img {
    width: 80%;
    padding:.5em;
    border-radius: 5px;
}

.act-info {
    text-align: center;
}

.act-info a {
    padding: .5em 1.5em;
    background-color: red;
    font-size: 1.5em;
    border-radius: 5px;
    color: black;
}

.act-info a:hover {
    color: white;
}

input {
    padding: .5rem;
    margin: 0 5px;
    width: 100%;
}

.btn-form {
    padding: 10px 40px;
}

.btn-div {
    margin-top: 1rem;
}

.one,
.two {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.three {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer section */
footer {
    background-color: #4182C5;
    color: white;
}

.footer {
    display: grid;
    padding: 1.5em 0;
    grid-template-columns: 50% 50%;
}

.footer-one {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.footer-title {
    padding: .5em;
}

.footer-input {
    margin-bottom: .5em;
}

.btn-f-f {
    margin: .3em;
}

.footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: .5em;
}

.footer-three {
    text-align: center;
    padding: 1.5em;
}

.foot-social i {
    color: white;
    padding: .5em;
    margin: .5em;
}

.copy {
    font-size: .8em;
}

input {
    border-radius: 5px;
}

@media screen and (max-width: 740px) {
    .layer {
        display: flex;
        flex-direction: column;
    }

    #clockdiv {
        font-size: 15px;
    }

    .card-deck {
        display: flex;
        flex-direction: column;
    }

    .about-img img {
        width: 47%;
        padding:.5em;
    }

    .endorse-group h1 {
        font-size: 1.2em;
    }

    .act-layer {
        height: 100%;
        padding: 1em 0;
    }

    .actBlue img {
        width: 100%;
    }

    .act-info h1 {
        font-size: 1.2em;
    }

    form {
        width: 90%;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 415px) {}