@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Nav */
.title {
    font-size: 1.8em;
    padding: 0em;
}

.don-btn {
    background-color: red;
    padding: 5px;
    color: white;
    border-radius: 5px;
}

.don-btn:hover {
    background-color: pink;
    color: white;

}

/* Hero Section */
.hero {
    background: url('./img/flag.jpg') no-repeat center center fixed;
    background-size: cover;
    margin-top: 6%;
}

.layer {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 5px;
    padding: 2em;
}

.left {
    height: 60%;
    font-size: smaller !important;
}

.head-title {
    font-size: 1.3em;
}

.right {
    height: 60%;
    text-align: center;
    align-items: center;
    font-size: smaller !important;
}

/* Countdown Clock */
#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv>div {
    padding: 10px;
    border-radius: 3px;
    background: #78B4E3;
    display: inline-block;
}

#clockdiv div>span {
    padding: 15px;
    border-radius: 3px;
    background: #4182C5;
    display: inline-block;
}

smalltext {
    padding-top: 5px;
    font-size: 16px;
}


/* Points Section

.card-body {
    height: 40vmin;
}
*/
video {
    width: 100%;
    border-radius: 5px;
}

.icons {
    align-items: center;
}

.blue {
    color: #4182C5;
}

/* letter section 

.envelope {
    display: grid;
    grid-template-columns: 60% 40%;
}
*/
.letter-a {
    border: 2px solid lightgrey;
    border-radius: 5px;
    background-color: white;
    padding: .5em;
    margin: 2em 0;
    /*filter: drop-shadow(3px 3px 1px #666666);*/
}



.insert-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.insert-photo img {
    width: 400px;
}

.char-underline {
    border-bottom: 3px solid lightcoral;
}

.logo-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    background-color: #78B4E3;
    border-radius: 5px;
}

/* contact section 

.contact {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
}
*/
input {
    padding: .5rem;
    margin: 0 5px;
    width: 100%;
}

.btn-form {
    padding: 10px 40px;
}

.btn-div {
    margin-top: 1rem;
}



.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: .5rem;
    margin-bottom: 1em;
    height: 50vmin;
}

.one,
.two {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.three {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    align-items: center;
    margin: auto;
}

/* footer section */
footer {
    background-color: #4182C5;
    color: white;
}

.footer {
    display: grid;
    padding: 1.5em 0;
    grid-template-columns: 30% 40% 30%;
}

.footer-one {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.footer-title {
    padding: .5em;
}

.footer-input {
    margin-bottom: .5em;
}

.btn-f-f {
    margin: .3em;
}

.footer-two {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 1em;
    margin: .5em;
    margin-top: 1em;
}

.footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: .5em;
}

.footer-three {
    text-align: center;
    padding: 1.5em;
}

@media screen and (max-width: 740px) {
    .layer {
        display: flex;
        flex-direction: column;
    }

    #clockdiv {
        font-size: 15px;
    }

    .card-deck {
        display: flex;
        flex-direction: column;
    }

    .card-body {
        height: 70vmin;
    }

    .envelope {
        display: flex;
        flex-direction: column;
    }

    .logo-group {
        display: none;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

    .form {
        height: 60vmin;
    }

    form {
        width: 90%;
    }

    .map {
        display: none;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 415px) {}