@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,200&display=swap');

:root {
    --background: white;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/* navigation */

header {
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}
.header {
    background: var(--background);
}

.logo {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.logo span {
    padding-left: 5px;
    font-size: 1.3em;
}

nav {
    background: var(--background);
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 300ms ease-in;
    position: absolute;
    text-align: left;
    width: 100%;
    top: 100%;
    left: 0;
}

.donate {
    background: #ff2244;
    padding: .5em;
    border-radius: 5px;
}

.donate:hover {
    color: white;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin-left: 1em;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: black;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.hide-nav {
    display: none;
}

.show-nav {
    display: block;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 8px;
}

.nav-toggle-label span::after {
    top: 8px;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    padding-left: 1em;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #ff2244;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.scrolled {
    --background: white;
}

@media screen and (min-width: 740px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 15fr) 1fr;
        padding: .8em;
    }

    .logo {
        grid-column: 2 / 3;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: .5em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a:before {
        content: '';
        display: block;
        height: 5px;
        background: #ff2244;
        position: absolute;
        top: -.8em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: right;
        transition: transform ease-in-out 200ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}